/* popup main page */
body {
  min-width: 300px;
  max-width: 300px;
  padding: 0;
  margin: 2px;
  height: 200px;
  background: #eee;
  -webkit-user-select: none;
}
header, article {
  width: 100%;
}
header {
  height: 40px;
  line-height: 30px;
  padding: 0 5px;
  margin: 0;
  position: fixed;
  top: 0;
  background: linear-gradient(#ccc, #ddd);
}
header #user {
  width: 30%;
  float: right;
  padding: 5px;
}
header #user img {
  float: left;
}
header #user .fullname {
  float: left;
  margin-left: 5px;
  font-size: 15px;
  font-weight: 800;
}
header #nav {
  width: 65%;
  float: left;
}
header #nav .list-panel {
  display: none;
}
header #nav .label-panel {
  float: left;
  margin: 5px;
  width: 50%;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  color: #fff;
  background: #999;
  padding: 0 3px;
  cursor: pointer;
  text-align: center;
}
header #nav .back-panel, 
header #nav .search-panel {
  float: left;
  width: 18%;
  height: 28px;
  margin-top: 5px;
  border: 1px solid #333;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  cursor: pointer;
}
header #nav .back-panel:hover, 
header #nav .search-panel:hover {
  background: #ccc;
}
header #nav .search-panel {
  margin-left: 5px;
}
article {
  margin-top: 42px;
}
article #loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.5em;
  margin-top: -0.5em;
  font-size: 20px;
  z-index: 1000000000000;
}
.board {
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 5px;
  margin: 2px 0;
  text-align: center;
  background: #eee;
  background-size:100% auto !important;
  font-family: "Arial";
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
.list {
  float: left;
  font-size: 13px;
  color: #fff;
  background: #999;
  width: 50%;
  height: 30px;
  line-height: 30px;
  margin: 0 5px;
  padding: 0 3px;
  cursor: pointer;
  text-align: center;
}
.list:hover {
  background: #eee;
  color: #666;
}
.card {
  width: 100%;
  min-height: 35px;
  line-height: 35px;
  font-size: 12px;
  background: #fff;
  text-indent: 5px;
  white-space: nowrap;
  margin: 2px 0;
  overflow: auto; 
}